<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
	<ion-content padding="false" scroll="false">
		<div class="rowpadding0 height100">
			<div class="col col-top menubox gallery_topmenu">
				<img class="pictokk_icon" src="../img/back.jpg" style="margin-right: 20px;"  onclick="history.back(-1);" />
				<select class="menubox">
					<option>전체보기 (<span id="photo_cnt">212</span>)</option>
				</select>
			</div>
			<div class="rowpadding0 thumbnail_wrap">
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container vcenter-ext">
					<div class="thumbnail blue vcenter-int">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
				<div class="thumbnail_container">
					<div class="thumbnail">
						<img id="galleryimg" src="../img/photo001.jpg"/>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>