<!-- SNS Login -->
<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
	<ion-content padding="false" scroll="false">
		<div id="snslogin" class="row rowpadding0 height100 bgImgCover">
			<div class="col col-100 col-center text-center">
				<div class="snslogintit1">
					SNS LOGIN
				</div>
				<div class="snslogintit2">
					PHOTO EDIT
				</div>

				<a id="login_kakao" class="snslink" href="" >
					<img src="../img/sns1.png" />
				</a>
				<a id="login_naver" class="snslink" href="" >
					<img src="../img/sns2.png" />
				</a>
				<a id="login_facebook" class="snslink" href="" >
					<img src="../img/sns3.png" />
				</a>
				<a id="login_instagram" class="snslink" href="" >
					<img src="../img/sns4.png" />
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>