<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content padding="false" scroll="false">
    <div class="row rowpadding0 height100">
      <img id="inputphoto" ng-src="{{ base64Image }}" width="100%" height="100%" />

      <div class="menubox textmic_btm">
        <div class="rightmenu">
          <img ng-src="./img/picon1.png" class="pictokk_icon" />사진촬영
        </div>
        <div class="rightmenu">
          <img ng-src="./img/picon2.png" class="pictokk_icon" />앨범에서 선택
        </div>
        <div class="rightmenu">
          <img ng-src="./img/picon3.png" class="pictokk_icon" />글자입력
        </div>
        <div class="rightmenu">
          <img ng-src="./img/picon4.png" class="pictokk_icon" />마이크 입력
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
